/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  background: linear-gradient(to bottom, #1c5380, 45%, #fff 45%);
  background-repeat: no-repeat;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  height: 100%;
  padding: 120px 280px 0 10px;
  align-self: center;
  font-family: 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif,
}

.login {
  position: fixed;
  box-sizing: border-box;
  background-color: #1c5380;
  border-radius: 4px;
  color: white;
  font-size: 15px;

  right: 290px;
  top: 140px;
  height: 40px;
  width: 120px;
  /* border: 2px solid #06365f; */
  box-shadow: 0 8px 16px 0 #06365f;
}

.login img {
  padding: 5px 20px 0 0;
}

.phone_image {
  width: 40%;
  height: 100%;
  padding: 60px 60px 0 220px;
  align-self: center;
}

.content {
  background-image: url('./../images/frame.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  width: 100%;
}

.text {
  padding: 10px 40px;
}

.text h1 {
  color: #06365f;
  font-size: 2em;
}

.buttons {
  clear: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;

}

footer {
  flex-direction: column;

}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
}

li {
  padding: 0 10px;
}

ul .link {
  font-weight: bold;
  color: #1c5380;
}