/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background: linear-gradient(to bottom, #497498, #497498 45%, #fff 45%);
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  height: 100%;
  padding: 120px 280px 0 10px;
  align-self: center;
}

.phone_image {
  width: 40%;
  height: 100%;
  padding: 60px 60px 0 220px;
  align-self: center;
}

.content {
  background-image: url('./../images/frame.png');
  background-repeat: no-repeat;
  position: relative;
  background-size: 100%;
  width: 100%;
}

.text {
  padding: 10px 40px;
}

.text h1 {
  color: #06365f;
  font-size: 2em;
}

.buttons {
  clear: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.button {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 10px;

}

footer {
  flex-direction: column;
}